body{
    font-family: 'Poppins', sans-serif;
}

/* ------------------------------------------------------

                        Header Section

-----------------------------------------------------------*/
.header{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
}
h2{
    font-weight: 700;
    font-size: 24px;
    margin-top: 87px;
    color: #3A3A3A;
}
nav{
    margin-top: 87px;
    margin-right: 120px;
}
a{
    text-decoration: none;
    color: #3A3A3A;
    margin-left: 34px;
    
}
.header-main{
    width: 582px;
    height: 270px;
    margin-top: 100px;
    margin-left: 100px;
}
h1{
    font-weight: 900;
    font-size: 52px;
    color: #3A3A3A;
    margin-bottom: 0;
}